{% extends "base.html" %}

{% block title %} Actuators {% endblock %}

{% block content %}

<div class="flex flex-row flex-wrap gap-6 max-w-full m-2" hx-ext="ws" ws-connect="/actuators/ws">
    {% for actuator in actuators %}
    <div class="card bg-base-200 min-w-52 w-96 max-w-full grow">
        <div class="card-body" hx-vals='{"name": "{{ actuator.name }}"}'>
            <h2 class="card-title">{{ actuator.name }}</h2>

            {% if actuator.active %}
                {% set actuator_name = actuator.name %}
                {% set actuator_paused = actuator.paused %}
                {% include "../components/actuators_inputs.html" %}

                <div class="card-actions mt-4">
                    {% include "../components/actuators_pause_resume_btn.html" %}
                    {% include "../components/actuators_stop_btn.html" %}
                </div>

                {% match actuator.configuration %}
                {% when Some with (config_str) %}
                <div class="collapse collapse-arrow">
                    <input type="checkbox"/>
                    <span class="collapse-title text-xl font-medium">Configuration</span>
                    <div class="collapse-content" id="config-{{ actuator.name }}"
                         hx-headers='{"data_type": "motor_config"}'>
                        {{ config_str|safe }}
                    </div>
                </div>
                {% when None %}
                {% endmatch %}
            {% else %}
                This actuator failed to be activated
            {% endif -%}
        </div>
    </div>
    {% endfor %}
</div>

<script>
    {% for actuator in actuators %}
    {% if actuator.active %}
        function {{ actuator.name }}ResetValue() {
            document.getElementById('value-{{ actuator.name }}').innerHTML = "0";
            document.getElementById('range-{{ actuator.name }}').value = 0;
            console.log("Value was reset {{ actuator.name }}")
        }
    {% endif %}
    {% endfor %}

    document.addEventListener('htmx:wsConfigSend', function (event) {
        if (event.detail.headers["data_type"] === "motor_config") {
            const new_parameters = {
                name: event.detail.parameters.name,
                config: event.detail.parameters,
            };
            event.detail.parameters.name = undefined;
            event.detail.parameters = new_parameters;
        }

        event.detail.headers = undefined;
    });
</script>

{% endblock %}
