{% extends "base.html" %}

{% block title %} Actuators {% endblock %}

{% block content %}

<h1>Actuators</h1>

<div class="flex flex-row flex-wrap gap-6 max-w-full" hx-ext="ws" ws-connect="/actuators_ws">
    {% for actuator in actuators %}
    <div class="card bg-base-200 min-w-52 w-96 max-w-full grow">
        <div class="card-body" hx-vals='{"name": "{{ actuator.name }}"}'>
            <h2 class="card-title">{{ actuator.name }}</h2>
            <label>
                <span class="label-text">Value:</span>
                <br>
                {% include "../components/actuator_motor_value_input.html" %}
            </label>

            <div class="card-actions">
                {% include "../components/actuators_pause_resume_btn.html" %}
                {% include "../components/actuators_stop_btn.html" %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<div>
    <div id="joystick" class="w-40 h-40 bg-gray-700 rounded-full flex items-center justify-center relative">
        <div id="knob" class="w-20 h-20 bg-gray-400 rounded-full cursor-pointer"></div>
    </div>
</div>

<script>
    const joystick = document.getElementById('joystick');
    const knob = document.getElementById('knob');

    let isDragging = false;

    knob.addEventListener('mousedown', (e) => {
        e.preventDefault();
        isDragging = true;
    });

    document.addEventListener('mouseup', () => {
        if (isDragging) {
            isDragging = false;
            knob.style.transition = 'transform 0.2s ease-out'; // Smooth return transition
            knob.style.transform = 'translate(0px, 0px)'; // Reset position
        }
    });

    document.addEventListener('mousemove', (e) => {
        if (isDragging) {
            // Reset transition to none to make dragging look immediate
            knob.style.transition = 'none';

            const rect = joystick.getBoundingClientRect();
            let x = e.clientX - rect.left - rect.width / 2;
            let y = e.clientY - rect.top - rect.height / 2;
            const distance = Math.sqrt(x * x + y * y);
            if (distance < rect.width / 2) { // Keep the knob within the joystick
                knob.style.transform = `translate(${x}px, ${y}px)`;
            }
        }
    });
</script>


{% endblock %}
