{% extends "base.html" %}

{% block title %} Sensors {% endblock %}

{% block content %}
<div class="flex flex-col h-screen justify-between">
    <header>
        <div class="py-4 flex flex-row flex-auto justify-evenly">
            <div>State: {{ state }}</div>
            <div>Connection 🔴</div>
        </div>

        <h1 class="w-screen flex justify-center text-4xl">VROOM VROOM</h1>
    </header>

    <main id="main-content" class="p-6">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 grid-flow-row gap-8">
            {% for sensor in sensors %}
            <button type="button" id="sensor-{{ sensor.name }}" class="bg-blue-300 rounded-3xl p-6"
                    {% if !sensor.active -%}disabled{% endif -%}>
                <img src="{{ sensor.icon_path }}" alt="{{ sensor.name }}">
            </button>
            {% endfor %}
        </div>
    </main>

    <footer id="menu" class="bg-blue-500 grid grid-flow-col grid-rows-1 justify-evenly rounded-t-3xl">
        {% let bottom_app_bar_text = "Sensors" %}
        {% let bottom_app_bar_icon = "sensors" %}
        {% let bottom_app_bar_link = "/sensors" %}
        {% include "../components/bottom_app_bar_button.html" %}

        {% let bottom_app_bar_text = "Remote" %}
        {% let bottom_app_bar_icon = "sports_esports" %}
        {% include "../components/bottom_app_bar_button.html" %}

        {% let bottom_app_bar_text = "Actuators" %}
        {% let bottom_app_bar_icon = "precision_manufacturing" %}
        {% include "../components/bottom_app_bar_button.html" %}
    </footer>
</div>
{% endblock %}
