{% extends "base.html" %}

{% block title %} Remote Control {% endblock %}

{% block content %}

<div hx-ext="ws" class="relative min-h-screen min-w-screen">
    <canvas id="streamdata" width="{{ config.video.width }}" height="{{ config.video.height }}"
            class="absolute w-screen h-screen"></canvas>

    <div ws-connect="/remote/ws" class="absolute bottom-0 left-0 p-6">
        {% include "../components/joystick.html" %}
    </div>

    <div class="absolute top-0 right-0 m-2" ws-connect="/sensors/ws">
        <div class="bg-base-200 opacity-90 rounded-xl flex flex-col items-end">
            <div class="mt-2 me-1">
                <button class="btn btn-square btn-outline mx-1"
                        onclick="document.getElementById('content').requestFullscreen()">
                    <span class="material-symbols-outlined">fullscreen</span>
                </button>
                <button class="btn btn-square btn-outline mx-1"
                        onclick="configure_modal.showModal()">
                    <span class="material-symbols-outlined">settings</span>
                </button>
            </div>

            <div id="status" class="card-body">
                <div class="flex flex-row justify-between">
                    Select sensors
                </div>
            </div>
        </div>

        <dialog id="configure_modal" class="modal">
            <div class="modal-box">
                <h2 class="font-bold text-xl">Settings</h2>
                <form class="flex flex-col py-4">
                    <h3 class="font-bold text-lg">Active Sensors</h3>
                    {% for sensor in sensors %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ sensor }}</span>
                        <input id="checkbox-{{ sensor }}" name="{{ sensor }}"
                               type="checkbox" class="toggle toggle-secondary"
                               ws-send/>
                    </label>
                    {% endfor %}
                </form>

                <h3 class="font-bold text-lg">Joystick</h3>
                <form hx-put="/remote/joystick" hx-target="#joystick" hx-swap="outerHTML" hx-trigger="change"
                      class="flex flex-col py-4">
                    <label>
                        <span class="label-text">Size</span>
                        <input value="{{ config.joystick.size }}" min="8" max="23"
                               type="range" class="range" name="size"/>
                    </label>
                    <label>
                        <span class="label-text">Opacity</span>
                        <input value="{{ config.joystick.opacity }}" min="0" max="100"
                               type="range" class="range" name="opacity"/>
                    </label>

                    <span class="label-text font-bold">X Axis</span>
                    {% for actuator in actuators %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ actuator.as_ref() }}</span>
                        <input name="x_axis" value="{{ actuator.as_ref() }}"
                               type="radio" class="radio"
                               {% if actuator.clone()== config.joystick.x_axis -%} checked {% endif -%}/>
                    </label>
                    {% endfor %}

                    <span class="label-text font-bold">Y Axis</span>
                    {% for actuator in actuators %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ actuator.as_ref() }}</span>
                        <input name="y_axis" value="{{ actuator.as_ref() }}"
                               type="radio" class="radio"
                               {% if actuator.clone()== config.joystick.y_axis -%} checked {% endif -%}/>
                    </label>
                    {% endfor %}
                </form>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</div>

<script>
    document.addEventListener('htmx:wsConfigSend', function (event) {
        if (event.detail.headers['HX-Trigger'] === 'knob') {
            event.detail.parameters = {
                x: x_percent,
                y: y_percent
            };
        }
        event.detail.headers = undefined;
    });

    const canvas = document.getElementById("streamdata");
    const context = canvas.getContext("2d", {alpha: false});

    const ws = new WebSocket(window.location.href + "/video");
    ws.binaryType = "arraybuffer";
    ws.onmessage = async function (evt) {
        const start_time = new Date();
        const imageBitmap = await createImageBitmap(new Blob([evt.data], {type: 'image/jpeg'}));

        // Draw the ImageBitmap directly onto the canvas
        context.drawImage(imageBitmap, 0, 0);

        const end_time = new Date() - start_time;
        // console.log(end_time);
    };
</script>

{% endblock %}
