{% extends "base.html" %}

{% block title %} Remote Control {% endblock %}

{% block content %}

<script>
    const x_axis_radios = document.getElementsByName('x-axis');
    const y_axis_radios = document.getElementsByName('y-axis');
</script>

<main hx-ext="ws" class="relative">
    <canvas id="streamdata" width="{{ video_size.0 }}" height="{{ video_size.1 }}" class="absolute w-screen h-screen">
        Your browser does not support the HTML5 canvas tag.
    </canvas>

    <div ws-connect="/remote/ws" class="absolute inset-y-0 left-0">
        {% include "../components/joystick.html" %}
    </div>

    <div class="card bg-base-200 shadow-xl grow absolute top-0 right-0 m-2" ws-connect="/sensors/ws">
        <button class="btn btn-square btn-outline m-2"
                onclick="configure_modal.showModal()">
            <span class="material-symbols-outlined">settings</span>
        </button>

        <div id="status" class="card-body">
            <div class="flex flex-row justify-between">
                <div class="card-title">Please select sensors</div>
            </div>
        </div>

        <dialog id="configure_modal" class="modal">
            <div class="modal-box">
                <h2 class="font-bold text-xl">Settings</h2>
                <form class="flex flex-col py-4">
                    <h3 class="font-bold text-lg">Active Sensors</h3>
                    {% for sensor in sensors %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ sensor }}</span>
                        <input id="checkbox-{{ sensor }}" name="{{ sensor }}"
                               type="checkbox" class="toggle toggle-secondary"
                               ws-send/>
                    </label>
                    {% endfor %}
                </form>

                <h3 class="font-bold text-lg">Joystick</h3>
                <form hx-put="/remote/joystick" hx-target="#joystick" hx-swap="outerHTML" hx-trigger="change">
                    <label>
                        <span class="label-text">Size</span>
                        <input value="{{ joystick.size }}" min="8" max="23"
                               type="range" class="range" name="size"/>
                    </label>
                    <label>
                        <span class="label-text">Opacity</span>
                        <input value="{{ joystick.opacity }}" min="0" max="100"
                               type="range" class="range" name="opacity"/>
                    </label>
                </form>
                <form class="flex flex-col py-4">
                    <span class="label-text font-bold">X Axis</span>
                    {% for actuator in actuators %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ actuator }}</span>
                        <input id="x-radio-{{ actuator }}" name="x-axis" value="{{ actuator }}"
                               type="radio" class="radio" {% if loop.index0== 0 -%} checked {% endif -%}/>
                    </label>
                    {% endfor %}
                </form>
                <form class="flex flex-col py-4">
                    <span class="label-text font-bold">Y Axis</span>
                    {% for actuator in actuators %}
                    <label class="cursor-pointer label">
                        <span class="label-text">{{ actuator }}</span>
                        <input id="y-radio-{{ actuator }}" name="y-axis" value="{{ actuator }}"
                               type="radio" class="radio" {% if loop.index0== 1 -%} checked {% endif -%}/>
                    </label>
                    {% endfor %}
                </form>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
</main>

<script>
    document.addEventListener('htmx:wsConfigSend', function (event) {
        if (event.detail.headers['HX-Trigger'] === 'knob') {
            let x_axis_motor = undefined;
            for (let i = 0, length = x_axis_radios.length; i < length; i++) {
                if (x_axis_radios[i].checked) {
                    x_axis_motor = x_axis_radios[i].value;
                    break;
                }
            }
            let y_axis_motor = undefined;
            for (let i = 0, length = y_axis_radios.length; i < length; i++) {
                if (y_axis_radios[i].checked) {
                    y_axis_motor = y_axis_radios[i].value;
                    break;
                }
            }

            event.detail.parameters = {
                motors: {
                    x: x_axis_motor,
                    y: y_axis_motor
                },
                joystick: {
                    x: x_percent,
                    y: y_percent
                }
            };
        }
        event.detail.headers = undefined;
    });

    const canvas = document.getElementById("streamdata");
    const context = canvas.getContext("2d", {alpha: false});

    if ("WebSocket" in window) {
        const ws = new WebSocket(window.location.href + "/video");
        ws.binaryType = "arraybuffer";
        ws.onmessage = async function (evt) {
            const start_time = new Date();
            const imageBitmap = await createImageBitmap(new Blob([evt.data], {type: 'image/jpeg'}));

            // Draw the ImageBitmap directly onto the canvas
            context.drawImage(imageBitmap, 0, 0, canvas.width, canvas.height);

            const end_time = new Date() - start_time;
            // console.log(end_time);
        };
    } else {
        console.log("Unable to access video stream (please make sure your browser supports canvas and websockets)");
    }
</script>

{% endblock %}
