{% extends "base.html" %}

{% block title %} UDP {% endblock %}

{% block content %}

<main id="main-content" class="p-4 flex flex-col gap-6" hx-ext="ws" ws-connect="/sensor_data">

    <div class="flex flex-row flex-wrap gap-8">
        <form id="active-sensors"
              class="card min-w-96 max-w-full p-4 shadow-xl bg-base-200">
            <div class="card-title">Active Sensors:</div>
            <div class="card-body">
                {% for sensor in sensors %}
                <label class="cursor-pointer label">
                    <span class="label-text">{{ sensor }}</span>
                    <input id="checkbox-{{ sensor }}" name="{{ sensor }}"
                           type="checkbox" class="toggle toggle-secondary"
                           ws-send/>
                </label>
                {% endfor %}
            </div>
        </form>

        <div class="card bg-base-200 shadow-xl grow">
            <div id="status" class="card-body">
                <div class="card-title">Please select sensors</div>
            </div>
        </div>
    </div>

    <div class="collapse bg-base-200 collapse-arrow py-4">
        <input type="checkbox"/>
        <div class="collapse-title text-xl font-medium">
            History
        </div>
        <div class="collapse-content">
            <ul id="messages">
            </ul>
        </div>
    </div>
</main>

{% endblock %}
