{% extends "base.html" %}

{% block title %} Sensors {% endblock %}

{% block content %}

<main id="main-content" class="p-4 flex flex-col gap-6" hx-ext="ws" ws-connect="/sensors/ws">

    <div class="flex flex-row flex-wrap gap-8">
        <form id="active-sensors"
              class="card min-w-64 w-96 max-w-full shadow-xl bg-base-200">
            <div class="card-body">
                <div class="card-title">Active Sensors:</div>
                {% for sensor in sensors %}
                <label class="cursor-pointer label">
                    <span class="label-text">{{ sensor }}</span>
                    <input name="{{ sensor }}" type="checkbox" class="toggle toggle-secondary"
                           ws-send/>
                </label>
                {% endfor %}
            </div>
        </form>

        <div class="card bg-base-200 shadow-xl grow">
            <div id="status" class="card-body">
                <div class="flex flex-row justify-between">
                    <div class="card-title">Please select sensors</div>
                </div>
            </div>
        </div>
    </div>

    <div class="collapse bg-base-200 collapse-arrow py-4">
        <input type="checkbox"/>
        <div class="collapse-title text-xl font-medium">
            History
        </div>
        <div class="collapse-content">
            <ul id="messages">
            </ul>
        </div>
    </div>
</main>

<dialog id="configure_modal" class="modal">
    <div class="modal-box">
        <h3 class="font-bold text-lg">Select a sensor to configure:</h3>
        <p class="flex flex-col py-4">
            {% for sensor in sensors %}
            <a href="/sensors/configure/{{ sensor }}">
                <button class="btn btn-primary btn-outline my-2">{{ sensor }}</button>
            </a>
            {% endfor %}
        </p>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<script>
    document.addEventListener('htmx:wsConfigSend', function (event) {
        event.detail.headers = undefined;
    });
</script>

{% endblock %}
