<div id="joystick" class="m-4 bg-gray-700 rounded-full flex items-center justify-center relative"
style="
    width: {{- joystick.size  -}}rem;
    height: {{- joystick.size  -}}rem;
    --tw-bg-opacity: {{ f32::from(joystick.opacity.clone()) / 100f32 -}};
">
    <div id="knob" class="size-12 bg-gray-400 rounded-full cursor-pointer"
         ws-send hx-trigger="knob"></div>
    <script>
        var joystick = document.getElementById('joystick');
        var knob = document.getElementById('knob');

        var is_dragging = false;
        var x_percent = 0;
        var y_percent = 0;

        // Function to move the knob
        function moveKnob(x, y) {
            if (!is_dragging) return;
            const rect = joystick.getBoundingClientRect();
            const half_width = rect.width / 2;
            const half_height = rect.height / 2;

            const dx = x - (rect.left + window.scrollX + half_width);
            const dy = y - (rect.top + window.scrollY + half_height);
            const distance = Math.hypot(dx, dy);

            if (distance < half_width) {
                knob.style.transform = `translate(${dx}px, ${dy}px)`;

                x_percent = dx / half_width;
                y_percent = dy / half_height;
            } else {
                // Extend the knob to the edge of the joystick circle
                const angle = Math.atan2(dy, dx);
                const limitX = Math.cos(angle) * half_width;
                const limitY = Math.sin(angle) * half_height;
                knob.style.transform = `translate(${limitX}px, ${limitY}px)`;

                x_percent = limitX / half_width;
                y_percent = limitY / half_height;
            }

            htmx.trigger("#knob", "knob");
        }

        function startDrag(e) {
            e.preventDefault();
            is_dragging = true;
            knob.style.transition = 'none'; // Remove transition for immediate movement
        }

        function stopDrag() {
            if (is_dragging) {
                is_dragging = false;
                x_percent = 0;
                y_percent = 0;
                knob.style.transition = 'transform 0.15s ease-out'; // Smooth return transition
                knob.style.transform = 'translate(0px, 0px)'; // Reset position

                htmx.trigger("#knob", "knob");
            }
        }

        knob.addEventListener('mousedown', startDrag);
        knob.addEventListener('mouseup', stopDrag);
        document.addEventListener('mousemove', (e) => {
            moveKnob(e.clientX, e.clientY);
        });

        knob.addEventListener('touchstart', startDrag);
        document.addEventListener('touchend', stopDrag);
        document.addEventListener('touchmove', (e) => {
            if (e.touches.length) {
                moveKnob(e.touches[0].clientX, e.touches[0].clientY);
            }
        }, {passive: false});

    </script>
</div>