<div id="joystick" class="md:m-4 bg-gray-700 rounded-full flex items-center justify-center aspect-square"
style="
    width: {{- config.joystick.size -}}rem;
    --tw-bg-opacity: {{ f32::from(config.joystick.opacity.clone()) / 100f32 -}};
">
    <div id="knob" class="size-12 bg-gray-400 rounded-full cursor-pointer"
         ws-send hx-trigger="knob"></div>

    <script>
        var joystick = document.getElementById('joystick');
        var knob = document.getElementById('knob');

        var is_dragging = false;
        var x_percent = 0;
        var y_percent = 0;
        var gamepadIndex = null;

        function moveKnob(x, y) {
            if (!is_dragging) return;
            const rect = joystick.getBoundingClientRect();
            const radius = rect.width / 2;

            let dx = x - (rect.left + window.scrollX + radius);
            let dy = y - (rect.top + window.scrollY + radius);
            const distance = Math.hypot(dx, dy);

            if (distance < radius) {
                knob.style.transform = `translate(${dx}px, ${dy}px)`;
            } else {
                // Extend the knob to the edge of the joystick circle
                const angle = Math.atan2(dy, dx);
                dx = Math.cos(angle) * radius;
                dy = Math.sin(angle) * radius;
                knob.style.transform = `translate(${dx}px, ${dy}px)`;
            }
            x_percent = dx / radius;
            y_percent = dy / radius;

            htmx.trigger("#knob", "knob");
        }

        function startDrag(e) {
            e.preventDefault();
            is_dragging = true;
            knob.style.transition = 'none'; // Remove transition for immediate movement
        }

        function stopDrag() {
            if (is_dragging) {
                is_dragging = false;
                x_percent = 0;
                y_percent = 0;
                knob.style.transition = 'transform 0.15s ease-out'; // Smooth return transition
                knob.style.transform = 'translate(0px, 0px)'; // Reset position

                htmx.trigger("#knob", "knob");
            }
        }

        knob.addEventListener('mousedown', startDrag);
        document.addEventListener('mouseup', stopDrag);
        document.addEventListener('mousemove', (e) => {
            moveKnob(e.clientX, e.clientY);
        });

        knob.addEventListener('touchstart', startDrag);
        document.addEventListener('touchend', stopDrag);
        document.addEventListener('touchmove', (e) => {
            if (e.touches.length) {
                moveKnob(e.touches[0].clientX, e.touches[0].clientY);
            }
        }, {passive: false});

        // Gamepad support
        window.addEventListener('gamepadconnected', (e) => {
            const gp = navigator.getGamepads()[e.gamepad.index];
            console.log(
                "Gamepad connected at index %d: %s. %d buttons, %d axes.",
                gp.index,
                gp.id,
                gp.buttons.length,
                gp.axes.length,
            );
            gamepadIndex = e.gamepad.index;
            requestAnimationFrame(pollGamepad);
        });

        window.addEventListener('gamepaddisconnected', (e) => {
            if (gamepadIndex === e.gamepad.index) {
                gamepadIndex = null;
            }
        });

        function pollGamepad() {
            if (gamepadIndex === null) return;

            const gamepad = navigator.getGamepads()[gamepadIndex];
            if (gamepad) {
                // Assume that the left stick is at index 0 (axes 0 and 1)
                let x = gamepad.axes[0];
                let y = gamepad.axes[1];
                
                if (x < 0.1)
                    x = 0;
                if (y < 0.1)
                    y = 0;

                if (gamepad.buttons[0].pressed) {
                    htmx.trigger("*[id^='btn-stop-']", "click")
                } else if (x !== x_percent || y !== y_percent) {
                    x_percent = x;
                    y_percent = y;
                    htmx.trigger("#knob", "knob");
                }

                // TODO Check if this needs to be outside the if
                requestAnimationFrame(pollGamepad);
            }
        }

    </script>
</div>