<form ws-send>
    <div class="flex flex-row items-end gap-2">
        <label class="grow">
            <span class="label-text">Min:</span>
            <input id="config-{{ name }}-min" type="number" value="{{ min }}" step="0.001" name="min"
                   class="input input-bordered w-full"/>
        </label>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_decrement("config-{{ name }}-min")'>
            <span class="material-symbols-outlined">remove</span>
        </button>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_increment("config-{{ name }}-min")'>
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    <div class="flex flex-row items-end gap-2">
        <label class="grow">
            <span class="label-text">Lower Middle:</span>
            <input id="config-{{ name }}-lower-middle" type="number" value="{{ lower_middle }}" step="0.001" name="lower_middle"
                   class="input input-bordered w-full"/>
        </label>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_decrement("config-{{ name }}-lower-middle")'>
            <span class="material-symbols-outlined">remove</span>
        </button>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_increment("config-{{ name }}-lower-middle")'>
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    <div class="flex flex-row items-end gap-2">
        <label class="grow">
            <span class="label-text">Upper Middle:</span>
            <input id="config-{{ name }}-upper-middle" type="number" value="{{ upper_middle }}" step="0.001" name="upper_middle"
                   class="input input-bordered w-full"/>
        </label>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_decrement("config-{{ name }}-upper-middle")'>
            <span class="material-symbols-outlined">remove</span>
        </button>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_increment("config-{{ name }}-upper-middle")'>
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>

    <div class="flex flex-row items-end gap-2">
        <label class="grow">
            <span class="label-text">Max:</span>
            <input id="config-{{ name }}-max" type="number" value="{{ max }}" step="0.001" name="max"
                   class="input input-bordered w-full"/>
        </label>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_decrement("config-{{ name }}-max")'>
            <span class="material-symbols-outlined">remove</span>
        </button>
        <button class="btn btn-square btn-outline"
                onclick='config_{{ name }}_increment("config-{{ name }}-max")'>
            <span class="material-symbols-outlined">add</span>
        </button>
    </div>
</form>

<script>
    function config_{{ name }}_decrement(field_id) {
        const field_element = document.getElementById(field_id);
        const value = parseFloat(document.getElementById("step-value-{{ name }}").innerHTML);
        field_element.value = (parseFloat(field_element.value) - value).toFixed(3);
    }

    function config_{{ name }}_increment(field_id) {
        const field_element = document.getElementById(field_id);
        const value = parseFloat(document.getElementById("step-value-{{ name }}").innerHTML);
        field_element.value = (parseFloat(field_element.value) + value).toFixed(3);
    }
</script>
