<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
<!--    <link rel="icon" type="image/png" href="/favicon.png" />-->
    <script src="/race_car/assets/js/fontawesome.js"></script>
    <link rel="stylesheet" href="/race_car/assets/css/main.css">

    <title>{% block title %}Base{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="content">
    {% block content %}<p>Placeholder content</p>{% endblock %}
</div>
</body>
</html>